.section {
    margin-bottom: 20px;
}

.title {
    position: relative;
    width: 287px;
    margin: 0 auto 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
}

.icon {
    margin-right: 6px;
}

.list {
    width: 190px;
    margin: 0 auto;
}

.item:not(:last-child) {
    margin-bottom: 6px;
}

.link {
    color: #333333;
    text-decoration: none;
}

.link:hover {
    color: #ffc0cb;
}

@media(max-width: 767px) {
    .title {
        font-size: 20px;
        margin-bottom: 14px;
    }
}

@media(min-width: 768px) {
    .title::before {
        content: '';
        position: absolute;
        display: block;
        width: 286px;
        right: 107%;
        height: 2px;
        background-color: #333333;
    }
    .title::after {
        content: '';
        position: absolute;
        display: block;
        width: 286px;
        left: 107%;
        height: 2px;
        background-color: #333333;
    }
}