.section {
    margin-bottom: 20px;
}

.title {
    position: relative;
    width: 190px;
    margin: 0 auto 14px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
}

.icon {
    margin-right: 6px;
}

.list {
    width: 260px;
    margin: 0 auto;
}

.item {
    margin-bottom: 8px;
}

@media(max-width: 767px) {
    .title {
        font-size: 20px;
        margin-bottom: 14px;
    }
}

@media(min-width: 768px) {
    .title::before {
        content: '';
        position: absolute;
        display: block;
        width: 337px;
        right: 109%;
        height: 2px;
        background-color: #333333;
    }
    .title::after {
        content: '';
        position: absolute;
        display: block;
        width: 337px;
        left: 109%;
        height: 2px;
        background-color: #333333;
    }
    .list {
        width: 540px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .item {
        width: 264px;
        margin-bottom: 10px;
    }
}