.header {
    box-sizing: border-box;
    background-color: #414141;
}

@media(max-width: 767px) {
    .header {
        padding: 20px 6px;
    }
}

@media(min-width: 768px) {
    .header {
        display: flex;
    }
    .groupper {
        align-self: center;
        padding-left: 20px;
    }
}