.link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}

.link:hover {
    color: #ffc0cb;
}

.icon {
    margin-right: 10px;
}

.icon:hover {
    fill: #ffc0cb;
}