.app {
    width: 400px;
    margin: 0 auto;
}

.main {
    padding: 20px 6px;
    font-family: 'Rubik', sans-serif;
}

@media(min-width: 768px) {
    .app {
        width: 900px;
    }
    .main {
        padding: 20px 0;
    }
}