.section {
    margin-bottom: 20px;
}

.title {
    position: relative;
    width: 266px;
    margin: 0 auto 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
}

.icon {
    margin-right: 6px;
}

.item:not(:last-child) {
    margin-bottom: 6px;
}

@media(max-width: 767px) {
    .title {
        font-size: 20px;
        margin-bottom: 14px;
    }
    .groupper {
        text-align: center;
    }
    .list {
        margin-bottom: 10px;
    }
}

@media(min-width: 768px) {
    .title::before {
        content: '';
        position: absolute;
        display: block;
        width: 293px;
        right: 109%;
        height: 2px;
        background-color: #333333;
    }
    .title::after {
        content: '';
        position: absolute;
        display: block;
        width: 293px;
        left: 109%;
        height: 2px;
        background-color: #333333;
    }
    .groupper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 700px;
        margin: 0 auto;
    }
    .list {
        width: 252px;
    }
}